body {
    overflow-x: hidden; /* Ukrywa pasek przewijania poziomego */
    position: fixed; /* Zapobiega przewijaniu na urządzeniach mobilnych */
    width: 100%; /* Zapewnia pełną szerokość */
    height: 100%; /* Zapewnia pełną wysokość */
}
#content {
    position: relative;
    margin: 0;
}

#content::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("/TUR/Obrazy/tlo3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */
}
.bloki{
    background-color: rgba(0, 0, 0, 0.9);
    color: wheat;
    border-radius: 2% 2% 0 0;
}
@media screen and (max-width: 767px) {
    .odstep{
        padding-top: 397px;
    }

    #lista > a >img{
        height: 200px;
        width: 294px;
        border-radius: 10%;
    }
    
}
.odstep{
    /* padding-top: 638px; */
    /* padding-top: 476px; */
    padding-top: 52.4vh;
}


#lista{
    display: inline-block;
    padding-right: 2%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2%;
    margin: 0.8%;
}

#lista > a >img{
    height: 300px;
    width: 394px;
    border-radius: 10%;
}

#lista:hover .overlay {
    /* opacity: 0.5; */
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 394px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    border-radius: 10%;
    border: solid 1px yellow;
    
}
.text {
    /* margin-top: 10%; */
    margin-top: -1%;
    color: rgb(255, 255, 255);
    font-size: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Protest Strike', sans-serif;
    
} 