/* Dodanie tla */
#content{
    margin: 0;
    background-image: url("/TUR/Obrazy/tlo3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 
.bloki{
    background-color: rgba(0, 0, 0, 0.9);
    color: wheat;
    border-radius: 2% 2% 0 0;
}
@media screen and (max-width: 767px) {
    #content{
    background-image: url("/TUR/Obrazy/tlo-telefon.jpeg");
    background-size: 767px;
    background-position: center center;
    }
}