


h6 > a{
    text-decoration: none;
    color: grey;
    font-size: medium;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
}
h6 > a:hover{
    cursor: pointer;
    color: black;
}
h1{
    text-align: center;
    font-size: 62px;
    font-family: 'Protest Guerrilla', sans-serif;
}

#zawartosc{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

  #content{
    padding-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#lista{
    display: inline-block;
    padding-right: 2%;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 2%;
}

#lista > a >img{
    width: 460px;
    height: 350px;
    border-radius: 10%;
}

#lista:hover .overlay {
    /* opacity: 0.5; */
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 460px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    border-radius: 10%;
    border: solid 1px yellow;
    
}

.text {
    /* margin-top: 10%; */
    margin-top: -1%;
    color: rgb(255, 255, 255);
    font-size: 400%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Protest Strike', sans-serif;
    
} 
@media screen and (max-width: 767px) {
    #lista > a >img{
        width: 410px;
        height: 312px;
        border-radius: 10%;
    }
    .overlay {
        height: 312px;
        width: 410px;
    }
    .text {
        font-size: 260%;
    }
    #content{
        width: 100%;
    }
    #lista{
        display: block;
        margin-left: auto;
        margin-right: auto;
       
    }
    h1{
        font-size: 46px;
    }
    h6{
        font-size: 14px;
    }

}


